body{
background-color: white;
color:black;
font-family: "Open Sans";
}
header{
background-color: #101010 ;
}
button{
color: white;
border:none;
padding:1%;
margin:1% ;
background-color: #101010;
text-decoration: bold;
}
a{
color: white;
text-decoration:none;
}
section{
font-family: "Open Sans Light";
text-align: left;
color: black;
background-color: white;
}
footer{
background-color: #353535;
font-family: "Open Sans";
text-align: center;
color: white;
}
aside{
background-color: #101010;
color: white;
}
aside.scrollmenu {
		background-color: rgba(255,255,255,0);
		overflow: auto;
		white-space: nowrap;
	}
	.title{
		font-size: 50px;
	}
	.image{width: 100%;}
	.image-1{width: 80%;}
	.btn{width: auto;}
	.title{font-size: 15px;}
	.footer{font-size: 8px;}
@media only screen and (min-device-width: 720px){
	.image{width: 30%;}
	.image-1{width: 15%;}
	.btn{width: auto;}
	.title{font-size: 30px;}
	.footer{font-size: 15px;}
}
.img-life{width: 100%;}
.br{
	text-align: center;
}
.text-center{
	text-align: center;
	align-items: center;
}
.text-right{
	text-align: right;
	align-items: right;
}
.text-left{
	text-align: left;
	align-items: left;
}